
.paint {
    z-index: 2;
    position: absolute;
    height: 100% !important;
    width: auto;
    top: 1%;
    right: 50%;
    left: 30%;
    }
    .redcray1 {
      z-index: 3;
      position: absolute;
      height: 23% !important;
      width: 3%;
      bottom: 1%;
      left: 46%;
    }
    .orngcray1 {
      z-index: 2;
      position: absolute;
      height: 23% !important;
      width: 3%;
      bottom: 1%;
      left: 51%;
    }
    .greencray2 {
      z-index: 2;
      position: absolute;
      height: 23% !important;
      width: 3%;
      bottom: 1%;
      left: 56%;
    }
    .yellowcray1 {
      z-index: 2;
      position: absolute;
      height: 23% !important;
      width: 3%;
      bottom: 1%;
      left: 61%;
    }
    .bluecray1 {
      z-index: 2;
      position: absolute;
      height: 23% !important;
      width: 3%;
      bottom: 1%;
      left: 66%;
    }
    .violetcray1 {
      z-index: 2;
      position: absolute;
      height: 23% !important;
      width: 3%;
      bottom: 1%;
      left: 71%;
    }
    .curser{
      height: 26% !important;
    }
    .orgtbox1{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 25%;
      right: 38.6%;
    }
    .yellowtbox1{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 34%;
      right: 38.6%;
    }
    .greentbox1{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 42.7%;
      right: 38.6%;
    }
    .bluetbox1{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.9%;
      top: 51.3%;
      right: 38.6%;
    }
    .violettbox1{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top:60.2%;
      right: 38.6%;
    }
    .redtbox1{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 16%;
      right: 38.7%;
    }
    .orgtbox2{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 30%;
      right: 20.6%;
    }
    .yellowtbox2{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 39%;
      right: 20.6%;
    }
    .greentbox2{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 47.5%;
      right: 20.6%;
    }
    .bluetbox2{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 56.2%;
      right: 20.6%;
    }
    .violettbox2{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top:65.2%;
      right: 20.6%;
    }
    .redtbox2{
      z-index: 2;
      position: absolute;
      height: 8% !important;
      width: 6.7%;
      top: 21%;
      right: 20.6%;
    }
    .hidden {
      display: none;
    }
    .greenshadow {
      animation: greenshadow 2s alternate;
    }
    .redl {
      animation: freeze 1.5s;
    }
    @keyframes greenshadow {
      50%{
        filter: drop-shadow( 0px 0px 30px rgb(72, 247, 72));}
    }
    @keyframes freeze { 
      0%, 100% {transform: translateX(0); } 
      10%, 30%{transform: translateX(-3px);}
      50%{transform: translateX(-3px);filter: drop-shadow( 0px 0px 10px red);height: 25%;}
      70% ,90%{transform: translateX(-3px);} 
      20%, 40%, 60% ,80% {transform: translateX(3px);} 
   }