.activity {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .teapot2 {
    z-index: 2;
    position: absolute;
    height: 13% !important;
    width: auto;
    top: 25%;
    left: 24%;
  }
  .teapot3 {
    z-index: 2;
    position: absolute;
    height: 13% !important;
    width: auto;
    top: 25%;
    left: 35%;
  }
  .teapot1 {
    z-index: 3;
    position: absolute;
    height: 9% !important;
    width: auto;
    top: 29%;
    left: 46%;
  }
  .teapot5 {
    z-index: 2;
    position: absolute;
    height: 13% !important;
    width: auto;
    top: 25%;
    left: 57%;
  }
  .teapot6 {
    z-index: 2;
    position: absolute;
    height: 13% !important;
    width: auto;
    top: 25%;
    left: 68%;
  }
  
  .flower1 {
    z-index: 2;
    position: absolute;
    height: 10% !important;
    width: auto;
    bottom: 32%;
    left: 20%;
  }
  .flower2 {
    z-index: 2;
    position: absolute;
    height: 10% !important;
    width: auto;
    bottom: 32%;
    left: 32%;
  }
  .flower3 {
    z-index: 2;
    position: absolute;
    height: 10% !important;
    width: auto;
    bottom: 32%;
    left: 44%;
  }
  .flower4 {
    z-index: 2;
    position: absolute;
    height: 15% !important;
    width: auto;
    bottom: 32%;
    left: 56%;
  }
  .flower5 {
    z-index: 2;
    position: absolute;
    height: 10% !important;
    width: auto;
    bottom: 32%;
    left: 68%;
  }
  .flower6 {
    z-index: 3;
    position: absolute;
    height: 10% !important;
    width: auto;
    bottom: 32%;
    left: 80%;
  }
  .bike1 {
    z-index: 2;
    position: absolute;
    height:15% !important;
    width: auto;
    bottom: 8%;
    left: 4%;
  }
  .bike2 {
    z-index: 2;
    position: absolute;
    height: 15% !important;
    width: auto;
    bottom: 8%;
    left: 23%;
  }
  .bike3 {
    z-index: 2;
    position: absolute;
    height:15% !important;
    width: auto;
    bottom: 8%;
    left: 42%;
  }
  .bike4 {
    z-index: 2;
    position: absolute;
    height: 9% !important;
    width: auto;
    bottom: 8%;
    left: 65%;
  }
  .bike5 {
    z-index: 2;
    position: absolute;
    height:15% !important;
    width: auto;
    bottom: 8%;
    left: 80%;
  }
  .flower {
    z-index: 2;
    position: absolute;
    height: 10% !important;
    width: auto;
    bottom: 32%;
    left: 56%;
  }
  .teapott{
    z-index: 3;
    position: absolute;
    height: 13% !important;
    width: auto;
    top: 25%;
    left: 46%;
  }
  .bike6 {
    z-index: 2;
    position: absolute;
    height: 15% !important;
    width: auto;
    bottom: 8%;
    left: 61%;
  }
  .hidden {
    display: none;
  }
  .bike {
    animation: bike1 4s alternate;
   }
   .flowert {
    animation: flowert 3s alternate;
   }
   .tea {
    animation: tea 3s alternate;
   }
 
  @keyframes bike1 {
    0% ,66%{ filter: drop-shadow( 0px 0px 15px lightgreen);}
    0%{height: 9%;}
    20%{height: 12%;}
    60%{height: 10%;}
    100%{height: 15%;}
  }
  
  @keyframes flowert {
    0% ,66%{ filter: drop-shadow( 0px 0px 15px lightgreen);}
    0%{height: 15%;}
    33%{height: 17%;}
    66%{height: 12.5%;}
    100%{height: 10%;}
  }
  
 
  @keyframes tea {
    0% ,66%{ filter: drop-shadow( 0px 0px 15px lightgreen);}
    0%{height: 9%;top: 29%;left: 43%;}
    20%{height: 11%;}
    60%{height: 9%;top: 28%;left: 43%;}
    100%{height: 13%;top: 25%;left: 42%;}
  }
  .reda13 {
    animation: redl 1.5s alternate;
    animation-name: activity13;
   }
 @keyframes activity13 { 
    0%, 100% {transform: translateX(0); } 
    10%, 30%{transform: translateX(-3px);}
    50%{transform: translateX(-3px);filter: drop-shadow( 0px 0px 10px red);}
    70%, 90% {transform: translateX(-3px);} 
    20%, 40%, 60%, 80% {transform: translateX(3px);} 
 }
