.activity {
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: url("https://mywhiteboardlabs.com/drive/leon/hand.png"), auto !important;
}
.div1 {
  z-index: 2;
  position: absolute;
  height: 70px !important;
  width: auto !important;
  bottom: 20%;
  left: 10%;
}

.div2 {
  z-index: 2;
  position: absolute;
  height: 70px !important;
  width: auto !important;
  bottom: 50%;
  left: 10%;
}

.div3 {
  z-index: 2;
  position: absolute;
  height: 70px !important;
  width: auto !important;
  bottom: 1%;
  left: 25%;
}

.div4 {
  z-index: 2;
  position: absolute;
  height: 70px !important;
  width: auto !important;
  bottom: 55%;
  right: 15%;
}

.div5 {
  z-index: 2;
  position: absolute;
  height: 70px !important;
  width: auto !important;
  bottom: 20%;
  right: 20%;
}

.div6 {
  z-index: 2;
  position: absolute;
  height: 70px !important;
  width: auto !important;
  bottom: 1%;
  right: 10%;
}
.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px lightgreen);
  filter: drop-shadow(5px 5px 5px lightgreen);
}
.ring {
  z-index: 1;
  position: absolute;
  height: 30% !important;
  width: auto !important;
  left: 35%;
  top: 15%;
  animation: rotation 3s infinite linear;
}

.hidden {
  display: none;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  bottom: 0%;
  width: 6400px;
  height: 198px;
  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.wave:nth-of-type(2) {
  bottom: 0%;
  animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 5s ease -1.25s infinite;
  opacity: 1;
  z-index: 1;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.ringimage {
  z-index: 100;
  position: absolute;
  height: 70px !important;
  width: auto;
  left: 43%;
  top: 25%;
}
.wave1 {
  animation: wave1 3s infinite alternate-reverse;
}
.wave2 {
  animation: wave2 3s infinite alternate-reverse;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave1 {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 15px;
  }
}

@keyframes wave2 {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 15px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
