.activity {
  height: 100%;
  width: 100%;
  cursor: url("https://mywhiteboardlabs.com/drive/leon/hand.png"), auto !important;
  display: flex;
  position: relative;
}
.racket1 {
  z-index: 2;
  position: absolute;
  height: 18% !important;
  width: auto;
  top: 35px;
  left: 5%;
}
.racket2 {
  z-index: 2;
  position: absolute;
  height: 18% !important;
  width: auto;
  top: 35px;
  left: 20%;
}
.racket3 {
  z-index: 2;
  position: absolute;
  height: 18% !important;
  width: auto;
  top: 35px;
  left: 35%;
}
.umbrela {
  z-index: 3;
  position: absolute;
  height: 18% !important;
  width: auto;
  bottom: 75%;
  left: 50%;
}
.racket5 {
  z-index: 2;
  position: absolute;
  height: 18% !important;
  width: auto;
  top: 35px;
  left: 70%;
}
.racket6 {
  z-index: 2;
  position: absolute;
  height: 18% !important;
  width: auto;
  top: 35px;
  left: 85%;
}
.watermelon1 {
  z-index: 2;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 47.5%;
  left: 5%;
}
.watermelon2 {
  z-index: 2;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 46.7%;
  left: 21%;
}
.watermelon3 {
  z-index: 2;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 46.5%;
  left: 37%;
}
.watermelon4 {
  z-index: 2;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 46.5%;
  left: 53%;
}
.watermelon5 {
  z-index: 2;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 47%;
  left: 69%;
}
.ball {
  z-index: 3;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 48%;
  left: 85%;
}
.shirt1 {
  z-index: 2;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 14%;
  left: 5%;
}
.shirt2 {
  z-index: 2;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 13%;
  left: 18%;
}
.shirt3 {
  z-index: 2;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 13%;
  left: 37%;
}
.shirt4 {
  z-index: 2;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 13%;
  left: 53%;
}
.shirt5 {
  z-index: 2;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 13%;
  left: 69%;
}
.shirt6 {
  z-index: 2;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 14%;
  left: 85%;
}
.basket {
  z-index: 5;
  position: absolute;
  height: 11% !important;
  width: auto;
  bottom: 0%;
  left: 30%;
}
.ballt {
  z-index: 4;
  position: absolute;
  height: 13% !important;
  width: auto;
  bottom: 5%;
  left: 42%;
  transform: rotate(320deg);
}
.umbrellat {
  z-index: 4;
  position: absolute;
  height: 18% !important;
  width: auto;
  bottom: 2%;
  left: 25%;
  transform: rotate(320deg);
}
.shirtt {
  z-index: 3;
  position: absolute;
  height: 22% !important;
  width: auto;
  bottom: 5%;
  left: 53%;
  transform: rotate(30deg);
}

.hidden {
  display: none;
}
.theme1 {
  animation: theme1 3s alternate, rotation1 3s;
}
.theme2 {
  animation: theme2 3s alternate, rotation1 3s;
}
.theme3 {
  animation: theme3 3s alternate, rotation2 3s;
}
@keyframes rotation1 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(320deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@keyframes theme1 {
  0%,
  100% {
    filter: drop-shadow(0px 0px 15px lightgreen);
  }
  0% {
    bottom: 75%;
    left: 50%;
  }
  33% {
    bottom: 75%;
    left: 40%;
    height: 20% !important;
  }
  66% {
    bottom: 5%;
    left: 30%;
  }
  100% {
    bottom: 2%;
    left: 25%;
  }
}

@keyframes theme2 {
  0%,
  100% {
    filter: drop-shadow(0px 0px 15px lightgreen);
  }
  0% {
    bottom: 48%;
    left: 85%;
  }
  33% {
    bottom: 50%;
    left: 82%;
  }
  100% {
    bottom: 5%;
    left: 42%;
  }
}

@keyframes theme3 {
  0%,
  100% {
    filter: drop-shadow(0px 0px 15px lightgreen);
  }
  0% {
    bottom: 13%;
    left: 18%;
  }
  33% {
    bottom: 13%;
    height: 25%;
  }
  66% {
    bottom: 13%;
    left: 50%;
  }
  100% {
    bottom: 5%;
    left: 53%;
  }
}
.redalert {
  animation: redl 3s alternate;
  animation-name: activity3;
}
@keyframes activity3 {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(-5px);
    filter: drop-shadow(0px 0px 10px red);
    height: 23%;
  }
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
